.App {
  text-align: center;
}

.container {
  width: auto;
  background-color: rgb(185, 166, 166);
  border-radius: 6px;
  margin: 70px;
  padding: 10px;
}

h1,
h3 {
  border-bottom: 2px solid black;
  margin: 18px;
  padding: 5px;
}
/* li {
  display: flex;
  text-align: center;
  justify-content: space-between;

} */
